/* Default colors */
@define-color accent_color #2c49cc;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #2c49cc;

@define-color error_color #d12a3e;
@define-color error_bg_color #d12a3e;

/* Widgetry */

image.active-icon {
  color: @accent_color;
}

image.error {
  color: #e01b24;
}

button.virtual-camera:checked {
  color: @accent_fg_color;
  background-color: @green_5;
}

menubutton.sharp {
  padding: 0;
}

button.sharp,
menubutton.sharp > button {
  border-radius: 0;
}

/* Settings */

window.settings scrollbar.vertical {
  /* The size a typical headerbar takes: 46px + 1px for the bottom border. */
  margin-top: 47px;

  /* Revelant for scrollbars without .overlay-indicator. */
  background: none;
  box-shadow: none;
}

window.info scrollbar.vertical trough {
  /* The size a typical headerbar takes: 46px + 1px for the bottom border. */
  margin-top: 0;
}

/* Volume bar */

volumebar scale {
	padding-top: 0;
	padding-bottom: 0;
}


volumebar scale > trough {
	min-width: 4px;
}

volumebar scale > trough > slider {
	min-width: 8px;
	border-radius: 2px;
	margin-left: -4px;
	margin-right: -4px;
	margin-top: 0;
	margin-bottom: 0;
}

/* Themes */

themecard .card {
  min-width: 192px;
  min-height: 118px;
}

themecard .card image.selected-icon {
  min-width: 24px;
  min-height: 24px;
  margin: 6px;
  border-radius: 50%;
  background-color: @accent_bg_color;
  color: @accent_fg_color;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.18);
  opacity: 0;
  transition-duration: 150ms;
}

themecard:selected .card image.selected-icon {
  opacity: 1;
  transition-duration: 150ms;
}

themecard .card.acri {
  background: linear-gradient(135deg, rgb(24,24,25) 15%, rgb(37, 36, 88) 85%);
}

themecard .card.adwaita {
  background: linear-gradient(135deg, #00000000 5%, @blue_5 100%);
}

themecard .card.rachni {
  background: linear-gradient(135deg, rgb(49, 54, 59) 5%, rgb(98, 238, 255) 100%);
}

themecard .card.solarized {
  background: linear-gradient(135deg, #073642 15%, #586e75 85%);
}

/* Status Icons */

image.record-status-icon {
  color: @red_3;
}

image.stream-status-icon {
  color: @blue_3;
}

/* Style selector */

styleselector {
  margin: 9px;
}

styleselector checkbutton {
  padding: 0;
  min-height: 64px;
  min-width: 64px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}

styleselector checkbutton.follow:checked,
styleselector checkbutton.light:checked,
styleselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

styleselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}

styleselector checkbutton.light {
  background-color: #fff;
}

styleselector checkbutton.dark {
  background-color: #202020;
}

styleselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(48px, 24px);
  padding: 2px;
}

checkbutton.style-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}
